/*general */
body { 
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  background: #181818; 
}

header {
  background: #000000;
  color: #ffffff;  
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

section { 
  padding-block: 1rem;
        }  

section + section {                                   
  margin-top: 2.5rem;                                 
  border-top: 1px solid #333;                      
  padding-top: 2rem;
}

nav a { 
  margin: 0 0.5rem; 
  color: #ffffff; 
  text-decoration: none; 
}
nav a:hover { 
  text-decoration: underline; 
  background: #333333;
}

main { 
  padding: 2rem; 
  max-width: none; 
  margin: 0; 
}

h1, h2 { color: #ababab; }
h3, h4, h5 {
  color: #ababab; /* sub-headings */
}
img { max-width: 100%; height: auto; }
video { max-width: 100%; margin: 1rem 0; }
ul {
  margin: 0 0 1rem;
  padding-left: 1.5rem; /* indent bullets */
  list-style: disc;     
}

p, li {
  color: #e7e7e7; /* paragraph & list text */
}

/*override */
.socials {
  list-style: none;       /* remove bullet points */
  padding: 0;
  margin: 0;
  display: flex;          /* flexbox for row layout */
  gap: 1rem;              /* spacing between items */
  flex-wrap: wrap;        /* wrap if too long */
}

.socials li {
  display: inline;        /* horizontal */
}

.socials li a {
  text-decoration: none;
  color:  #ffffff;
  font-weight: bold;
}

.socials li a:hover {
  text-decoration: underline;
}

.site-title { color: #ffffff; text-align: center;}
.page-nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: .5rem 0;
}

.page-nav a {
   color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.page-nav a:hover {
  text-decoration: underline;
}

/* .section-nav {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem .75rem;
  justify-content: center;
  padding: .75rem 0 1rem;
  margin-bottom: 1rem;
}

.section-nav a {
  text-decoration: none;
  padding: .4rem .7rem;
  border-radius: 999px;
  font-weight: 600;
  color: #ffffff;
} */

.section-rail .section-nav a:hover, .section-rail .section-nav a:focus { text-decoration: underline; background: #333333;}

/* side menu */
:root { --content-w: 1100px; --header-h: 80px; }

.layout {
  display: grid;
   grid-template-columns: 220px minmax(0, var(--content-w)) 1fr;
  gap: 2rem;
}

.layout > main {
  grid-column: 2;
  padding: 2rem;
  margin: 0;          
  max-width: 100%;      
}

.section-rail .section-nav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 0;               
  margin: 0;
  padding: 0;
  justify-content: flex-start;

}

.section-rail .section-nav a {
  color: #ffffff;
  text-decoration: none;
  padding: .25rem .5rem;
  font-weight: 600;
  border-right: 2px solid transparent;
}

.section-rail {  
  position: sticky;
  top: calc(var(--header-h) + 8px);
  align-self: start;
  color: #fff; 
  border-right: 1px solid #333333; 
  padding: 1rem 1rem 1rem 0;
  grid-column: 1;            
              }

/* behaviours */
html { scroll-behavior: smooth; }
section { scroll-margin-top: 80px; }
